*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    width: 100vw;
}



.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    
}

h1{
    margin: 10px;
}

.game{
    height: 50%;
    width: 50%;
    margin-bottom: 5%;
    
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-gap:2px
}

.box{
    border: none;
    background-color: rgb(210, 196, 42);
    font-size: 2rem;
   
}

.hide{
    display: none;
}

.new-game,.rst-btn{
    background-color: greenyellow;
    font-size: 20px;
  
    text-align: center;
}